[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"
python-language-server = "*"
v = {editable = true,version = "*"}
rope = "*"

[packages]
click = "*"
python-twitter = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
